section.web-tn-section-1{
    background: #0093dd;
    text-align: center;
    padding: 20px;
}
h1.web-tn-h1{
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: left;
}
p.web-tn-para1{
    color: #fff;
    font-size: 15px;
}
p.web-tn-para2{
    color: #ffd246;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
span.web-time,.web-date{
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 17px;
}
section.web-tn-cards{
    background: #fff;
    padding: 10px;
    width: 100%;
    height: auto;

}
h2.tn-cards-h2{
    color: #000;
    font-size: 24px;
    text-align: center;
}
h3.tn-card1-h3{
    font-size: 20px;
    margin-bottom: 30px;
}
h3.tn-card1-text{
    font-size: 20px;
    margin-bottom:50px;
}
.tn-card1{
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 2px 2px 75px 0 #dcdcdc;
    border-radius: 5px;
    height: 250px;
    width: 94%;
    max-width: 250px;
    padding: 10px;
    margin: 25px auto;
    
}
.tn-card2{
    height: 170px;
    width: 94%;
    max-width: 350px;
    padding: 10px;
    margin: 25px auto;
    text-align: center;
}
p.tn-cards-para{
    font-size: 18px;
    margin-bottom: 25px;
}
a.tn-card1-btn{
    margin-left: 190px;
}
a.tn-card2-btn{
    background:#0093dd;
    color: #fff;
    padding: 10px 35px;
    border: 0;
    border-radius: 4px;
    margin-left: 0;
    font-weight: 700;
    font-size: 15px;
}
.web-social-icons{
    text-align: center;
}
img.web-social-icon{
    width:15%;
    margin-right:5px;
}
/*Accordian CSS starts here*/
.bs-example{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
}
/*Accordian CSS ends here*/

@media only screen and (min-width: 700px) {
.web-tn-flex-container{
    display: flex;
    flex-wrap: wrap;
}
img.web-social-icon {
    width: 4%;
}
p.web-tn-para2 {
    font-size: 20px;
}
/* section.web-tn-section-1 {
   padding: 0px 0px 40px;
} */
div.card-body{
    height: 500px;
}
/* a.nav-link{
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
} */
}

/*contact css starts here*/
/*form css*/
form#contact-form{
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
    background-color: #eaeaea;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0.4rem 0.4rem 1.6rem 0px;
}
h2.form-title{
    text-align: center;
}
form#contact-form input{
    border-radius: 5px;
    margin-bottom: 15px;
    border: 0;
    width: 100%;
    padding: 5px;
}
input.message-box{
    height: 100px;
    text-align: center;
}
sup{
    color: red;
}
button.form-btn{
    padding: 10px 30px;
}
/*contact css ends here*/